//- Section: Comments
section.section.comments.grey.lighten-4
      .container
        .card
          .card-content
            span.card-title Comments
            table.striped
              tbody
                tr
                  td(width=70)
                    img.responsive-img.circle(src=require("../../img/person1.jpg"), alt="person1 img", style="width: 40px; margin-left:10px;")
                  td Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, delectus!
                  td 
                    a.green-text(href="#!")
                      i.material-icons  done
                    a.red-text(href="#!")
                      i.material-icons  close
                tr
                  td(width=70)
                    img.responsive-img.circle(src=require("../../img/person2.jpg"), alt="person2 img", style="width: 40px; margin-left:10px;")
                  td Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, delectus!
                  td 
                    a.green-text(href="#!")
                      i.material-icons  done
                    a.red-text(href="#!")
                      i.material-icons  close
                tr
                  td(width=70)
                    img.responsive-img.circle(src=require("../../img/person3.jpg"), alt="person3 img", style="width: 40px; margin-left:10px;")
                  td Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, delectus!
                  td 
                    a.green-text(href="#!")
                      i.material-icons  done
                    a.red-text(href="#!")
                      i.material-icons  close
                tr
                  td(width=70)
                    img.responsive-img.circle(src=require("../../img/person4.jpg"), alt="person4 img", style="width: 40px; margin-left:10px;")
                  td Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, delectus!
                  td 
                    a.green-text(href="#!")
                      i.material-icons  done
                    a.red-text(href="#!")
                      i.material-icons  close