//- Section: Posts
section.section.posts.grey.lighten-4
      .container
        .card
          .card-content
            span.card-title Posts
            table.striped
              thead
                tr
                  th Title
                  th Category
                  th Data Created
                  th
              tbody
                tr
                  td Post One
                  td Web Development
                  td Jan 1, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
                tr
                  td Post Two
                  td Graphic Design
                  td Jan 22, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
                tr
                  td Post Three
                  td Web Develoment
                  td Jan 12, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
                tr
                  td Post Four
                  td Tech Gadgets
                  td Jan 5, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
                tr
                  td Post Five
                  td Graphic Design
                  td Jan 6, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
                tr
                  td Post Six
                  td Web Develoment
                  td Jan 7, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
          .card-action
            ul.pagination
              li.disabled
                a(href='#!').blue-text
                  i.material-icons chevron_left
              li.active
                a(href='#!').white-text 1
              li.waves-effect
                a(href='#!').blue-text 2
              li.waves-effect
                a(href='#!').blue-text 3
              li.waves-effect
                a(href='#!').blue-text 4
              li.waves-effect
                a(href='#!').blue-text 5
              li.waves-effect
                a(href='#!').blue-text
                  i.material-icons chevron_right
