//- Section: About
section#about.scrollspy.section.about.grey.lighten-3.center
  .container
    h2 About Bizland
    p.flow-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam dolore cumque nisi soluta id hic delectus iure corporis. Expedita, illo.
    picture
      img.responsive-img.circle(src=require("../img/people.jpg"), alt="")
    ul.about__services.collection.with-header.z-depth-4
      li.collection-header
        h5 Services
      li.collection-item
        i.material-icons.left check
        | Financial Analytics
      li.collection-item
        i.material-icons.left check
        | Business Security Services
      li.collection-item
        i.material-icons.left check
        | Marketing & Advertising
      li.collection-item
        i.material-icons.left check
        | Internet Services
      li.collection-item
        i.material-icons.left check
        | Accounting 
        