section.boxes.center
  .blue.white-text.boxes__box
    i.material-icons.medium show_chart
    h4 Grow Your Business
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente itaque repellendus atque possimus? At animi labore facilis dicta placeat eligendi?
  .purple.white-text.boxes__box
    i.material-icons.medium people
    h4 Professional Advisors
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente itaque repellendus atque possimus? At animi labore facilis dicta placeat eligendi?
  .teal.white-text.boxes__box
    i.material-icons.medium verified_user
    h4 Secure Your Company
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente itaque repellendus atque possimus? At animi labore facilis dicta placeat eligendi?
  .amber.darken-4.white-text.boxes__box
    i.material-icons.medium account_balance
    h4 Multiply Your Income
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente itaque repellendus atque possimus? At animi labore facilis dicta placeat eligendi?
  