footer.page-footer.blue-grey.darken-1
  .container
      div
        h5 Location
        p Bizland, INC
        p 555 Somewhere Drive, Boston MA
      div
        h5.white-text Links
        ul
          li
              a(href='#').white-text Home
          li
            a(href='badges.html').white-text Components
          li
            a(href='#about').white-text About
          li
            a(href='#testimonials').white-text Testimonials
          li
            a(href='#contact').white-text Contact
  .footer-copyright.blue-grey.darken-4
    .container
      span BizLand Theme © 2018
      span 
        a.footer__back-top.grey-text.text-lighten-4.right(href='#home').center
          div
            //- adjust line height to center the icon with text
            i.material-icons(style="line-height:2") keyboard_arrow_up
          p Back To Top
