.navbar-fixed
    nav.transparent
      .container
        .nav-wrapper  
          a.brand-logo(href="#home") Bizland
          a.sidenav-trigger(href='#', data-target='mobile-nav')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href='#') Home
            li
              a(href='badges.html') Components
            li
              a(href='#about') About
            li
              a(href='#testimonials') Testimonials
            li
              a(href='#contact') Contact
            li
              a(href='#').btn.blue Download
    ul#mobile-nav.sidenav
      h4.blue-grey.darken Bizland
      li
        a.divider
      li
        a(href='sass.html') Home
      li
        a(href='badges.html') Components
      li
        a(href='collapsible.html') About
      li
        a(href='mobile.html') Testimonials
      li
        a(href='#contact.html') Contact