.showcase.container
  .showcase__main-text#main-text.transparency
    h5 You found the...
    h1 Right Place To Start
    p.flow-text To take your business to the next level with our services that ha ve taken companies to the fortune 500
    br
    a.btn.btn-large.white.black-text Learn More
  a.white-text(href="@contact")
    i.material-icons.medium.scroll-icon arrow_drop_down_circle

