//- Section: Testimonials
section#testimonials.section.testimonials.blue.white-text.center
  .container.scrollspy
    h2 What Our Clients Say
    .card.grey.lighten-4.black-text.z-depth-4
      .card-content
        p
          em Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, soluta quas officia voluptatibus facere alias maiores id voluptates illo natus?
        .card-action
          p John Doe From ABC, INC
    .card.grey.lighten-4.black-text.z-depth-4
      .card-content
        p
          em Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, soluta quas officia voluptatibus facere alias maiores id voluptates illo natus?
        .card-action
          p Sharon Johnson From XYZ, INC
    .card.grey.lighten-4.black-text.z-depth-4
      .card-content
        p
          em Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, soluta quas officia voluptatibus facere alias maiores id voluptates illo natus?
        .card-action
          p Wein Jackson From 123, INC
