//- Section: Categories
section.section.categories.grey.lighten-4
      .container
        .card
          .card-content
            span.card-title Categories
            table.striped
              thead
                tr
                  th Title
                  th Data Created
                  th
              tbody
                tr
                  td Web Development
                  td Jan 1, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
                tr
                  td Graphic Design
                  td Jan 22, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
                tr
                  td Tech Gadgets
                  td Jan 12, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
                tr
                  td Other
                  td Jan 5, 2018
                  td 
                    a.btn.blue.lighten(href="details.html") Details
            .card-action
            ul.pagination
              li.disabled
                a(href='#!').blue-text
                  i.material-icons chevron_left
              li.active
                a(href='#!').white-text 1
              li.waves-effect
                a(href='#!').blue-text 2
              li.waves-effect
                a(href='#!').blue-text 3
              li.waves-effect
                a(href='#!').blue-text 4
              li.waves-effect
                a(href='#!').blue-text 5
              li.waves-effect
                a(href='#!').blue-text
                  i.material-icons chevron_right
