//- fixed action button
.fixed-action-btn
  a.btn-floating.btn-large.red
    i.large.material-icons add
  ul
    li
      a.btn-floating.blue.modal-trigger(href="#post-modal")
        i.material-icons mode_edit
    li
      a.btn-floating.blue.modal-trigger(href="#category-modal")
        i.material-icons folder
    li
      a.btn-floating.blue.modal-trigger(href="#user-modal")
        i.material-icons supervisor_account

  //- Add Post Modal
  include ../common/_post-modal.pug
  //- Add Category Modal
  include ../common/_category-modal.pug
  //- Add User Modal
  include ../common/_user-modal.pug

