section.section.stats.center
  div.card-panel.blue.lighten-1.white-text.center
    i.material-icons.medium insert_emoticon
    h5 Monthly Visitors
    h3.count 28300
    div.progress.grey.lighten-1    
      div.determinate.white(style="width: 40%;")
  div.card-panel.center
      i.material-icons.medium mode_edit
      h5 Blog Posts
      h3.count 105
      div.progress.grey.lighten-1    
        div.determinate.blue(style="width: 20%;")
  div.card-panel.blue.lighten-1.white-text.center
      i.material-icons.medium mode_comment
      h5 Comments
      h3.count 12000
      div.progress.grey.lighten-1    
        div.determinate.white(style="width: 40%;")
  div.card-panel.center
      i.material-icons.medium supervisor_account
      h5 Users
      h3.count 350
      div.progress.grey.lighten-1    
        div.determinate.white(style="width: 10%;")
 

