section.section.visitors.blue.lighten-4
    div.card-panel
        div.chartContainer(style="height:300px; width: 100%;")
            include _chart.pug
    //- Latest Comments
    ul.collection.with-header.latest-comments
        li.collection-header 
            h5 Latest Comments
        li.collection-item.avatar
            img.circle(src=require('../../img/person1.jpg'), alt='')
            span.title John Doe
            p.truncate Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam soluta, consequatur nemo iste nihil sunt voluptatem aut enim sapiente, nam temporibus repellat necessitatibus ipsum error iusto non laudantium eius odio!
            a.approve.green-text(href="") Approve | 
            a(href="").deny.red-text Deny
        li.collection-item.avatar
            img.circle(src=require('../../img/person2.jpg'), alt='')
            span.title Steve Smith
            p.truncate Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam soluta, consequatur nemo iste nihil sunt voluptatem aut enim sapiente, nam temporibus repellat necessitatibus ipsum error iusto non laudantium eius odio!
            a.approve.green-text(href="") Approve | 
            a(href="").deny.red-text Deny
        li.collection-item.avatar
            img.circle(src=require('../../img/person3.jpg'), alt='')
            span.title Allen Williams
            p.truncate Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam soluta, consequatur nemo iste nihil sunt voluptatem aut enim sapiente, nam temporibus repellat necessitatibus ipsum error iusto non laudantium eius odio!
            a.approve.green-text(href="") Approve | 
            a(href="").deny.red-text Deny
