.about {
  .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    picture {
      text-align: center;
    }
    @include atSmall {
      grid-template-columns: 100%;
      img {
        width: 70%;
      }
    }
  }
  &--solutions {
    .container {
      width: 100%;

      @include atMedium {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
      }
      @include atSmall {
        grid-template-columns: 100%;
      }
    }
  }
}
