.main-header {
  background: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;

  &--inner {
    min-height: 350px;
    .showcase {
      padding-top: 50px;
    }
  }
}
