.stats {
  display: grid;
  padding: 0 1rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  @include atLarge {
    grid-template-columns: repeat(4, 1fr);
  }
  @include atSmall {
    grid-template-columns: 100%;
  }
}
