.recent {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);

  @include atSmall {
    grid-template-columns: 100%;
  }

  @include atLarge {
    grid-template-columns: 8fr 4fr;
  }
}
