.visitors {
  display: grid;

  grid-template-columns: 8fr 4fr;
  @include atMedium {
    grid-template-columns: 100%;
  }
  grid-gap: 2rem;
  padding: 2rem;
}

.chartContainer {
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
}
