// Vendors
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i');
@import 'materialize-css/sass/materialize.scss';

// mixins
@import './_mixins';

// base
.active-link {
  color: #d847f1;
  font-weight: bold;
}

.container--wide-on-medium-and-up {
  width: 100%;
  @include atLarge {
    width: 100%;
  }
}

.carousel-item {
  p {
    font-size: 20px !important;
  }
}

em {
  font-weight: bold;
}

.tabs {
  .indicator {
    background-color: #6a1b9a !important;
  }
}

.btn-extend {
  display: block;
  width: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

// Project files
@import './_stats';
@import './_visitors';
@import './_todos';
