@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i');
@import 'materialize-css/sass/materialize.scss';
@import './_mixins';
@import './_main-header';
@import './_showcase';
@import './_icons';
@import './_developers';
@import './_language';
@import './_about';
@import './_podcast';
@import './_features';
.active-link {
  color: #d847f1;
  font-weight: bold;
}

.container--wide-on-medium-and-up {
  width: 100%;
  @include atLarge {
    width: 70%;
  }
}

.carousel-item {
  p {
    font-size: 20px !important;
  }
}

em {
  font-weight: bold;
}

.tabs {
  .indicator {
    background-color: #6a1b9a !important;
  }
}
