#category-modal.modal
  .modal-content
    h4 Add Category
      form(action="")
        .input-field
          input#title1(type="text")
          label(for="title1") Title
      .modal-footer
        a(href="#!").modal-action.modal-close.btn.blue.white-text Submit