nav.blue.darken-2
  .container
    .nav-wrapper
      a.brand-logo(href='index.html') Madmin 
      a.sidenav-trigger.show-on-large.right(href='#', data-target='mobile-nav')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(class=(page==="Home" ? "active-link" : "undefined") href='index.html') Dashboard
        li
          a(class=(page==="Posts" ? "active-link" : "undefined") href='posts.html') Posts
        li
          a(class=(page==="Categories" ? "active-link" : "undefined") href='Categories.html') Categories
        li
          a(class=(page==="Comments" ? "active-link" : "undefined") href='comments.html') Comments
        li
          a(class=(page==="Users" ? "active-link" : "undefined") href='users.html') Users
// Mobile nav 
ul.sidenav#mobile-nav
  li
    .user-view
      .background
        img(src=require('../../img/ocean.jpg'), alt='')
      a(href='#')
        img.circle(src=require('../../img/person1.jpg'), alt='')
      a(href='#')
        span.name.white-text John Doe
      a(href="#").email.white-text jdoe@gmail.com
  li
    a(href='index.html') 
      i.material-icons dashboard
      | Dashboard
  li
    a(href='posts.html') Posts
  li
    a(href='categories.html') Categories
  li
    a(href='comments.html') Comments
  li 
    a(href='users.html') Users
  li
    div.divider
  li 
    a.subheader Account Controls
  li
    a(href="login.html").waves-effect logout