<!DOCTYPE html>
html(lang="en")
  include assets/includes/_head.pug
body#home.scrollspy
  include assets/includes/_header.pug
  include assets/includes/_boxes.pug
  include assets/includes/_about.pug
  include assets/includes/_testimonials.pug
  include assets/includes/_contact.pug
  include assets/includes/_footer.pug
  include assets/includes/_scripts.pug





