<!DOCTYPE html>
html(lang="en")
  include assets/includes/common/_head.html
  body.container.container--wide-on-medium-and-up.grey.lighten-4
    include assets/includes/common/_header-login.pug
    include assets/includes/login/_login.pug
    footer.section.blue.darken-2.white-text.center
      p Madmin Panel Copyright &copy; 2018
