<!DOCTYPE html>
html(lang="en")
  include assets/includes/common/_head.html
  include assets/includes/solutions/_header.pug
  include assets/includes/solutions/_sections.html
  include assets/includes/common/_footer.html

